<h1><%= @list.name %></h1>

<%= link_to "Add a movie", new_list_bookmark_path(@list), class: 'btn btn-success' %>
<%= link_to "Return home", root_path(@list), class: 'btn btn-success' %>

<div class="card-group">
  <% @list.movies.each do |l| %>
  <div class="card">
      <img src=<%= l.poster_url %> class="card-img-top" alt=<%= l.title %> >
      <div class="card-body">
        <h5 class="card-title"><%= l.title %></h5>
        <p class="card-text"><%= l.overview %></p>
    <% end %>
    </div>
  </div>
</div>
