<div class="cover mb-4 d-flex align-items-center justify-content-center">
  <div class="text-center text-white">
    <h1><%= @list.name %></h1>
    <h3 class="typed-js" data-controller="typed-js"></h3>
  </div>
</div>



<%= link_to "Add a movie", new_list_bookmark_path(@list), class: 'btn btn-success' %>
<%= link_to "Return home", root_path(@list), class: 'btn btn-primary' %>

<div class="row my-2 margin-left">
    <% @list.movies.each do |movie| %>
      <% bookmark = Bookmark.find_by(list: @list, movie: movie) %>
      <div class="col-12 col-sm-6 mb-4" data-aos="zoom-in">
        <div class="bg-white rounded shadow h-100">
          <%= image_tag movie.poster_url, alt: movie.title, class: "movie-img rounded-top" %>
          <div class="p-3 rounded-bottom d-flex flex-column">
            <strong><%= movie.title %> <span class="text-muted font-weight-normal">• <%= movie.rating %> <i class="fas fa-star star-yellow"></i></span></strong>
            <small class="text-muted"><%= movie.overview %></small>
            <div class="d-flex align-items-end justify-content-between pt-4">
              <div>
                <i class="fas fa-quote-left me-2"></i><small class="flex-grow-1"><%= bookmark.comment %> <i class="fa fa-quote-right" aria-hidden="true"></i></small>
              </div>
            </div>
          </div>
        </div>
    <% end %>
</div>
